@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
}

button {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #263a4e;
  background-color: inherit;
  border: 1px solid #cea06c;
  padding: 0.9rem 2.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.2s ease-in-out;
  margin: 1rem;
}

button:hover {
  color: #ffffff;
  background-color: #cea06c;
}

.welcome {
  box-sizing: border-box;
  transform-style: preserve-3d;
  height: 55rem;
}

.welcome::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-image: url("https://co19.nevseoboi.com.ua/mix/301/30103/1562149730-1008067-photo-nevseoboi.com.ua.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome__logo {
  position: absolute;
  margin-top: 6rem;
  margin-left: -35.5rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin-left: 51%;
  padding-top: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navbar a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #263a4e;
  transition: 0.2s ease-in-out;
}

.navbar a:hover {
  color: #cea06c;
}

.welcome__back-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  font-size: 9rem;
  font-weight: 700;
  opacity: 0.25;
  margin-top: 12rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.text-container {
  text-align: left;
  color: white;
  margin-top: 9.5rem;
  margin-left: 24rem;
}

.text-container__label {
  font-size: 1.2rem;
  font-weight: 400;
}

.text-container__headline {
  font-size: 6rem;
  font-weight: 700;
}

.welcome-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.text-container_button {
  color: #ffffff;
}

.facts {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
  height: 22.5rem;
  margin: 4rem 0rem;
}

.fact-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
}

.fact-card__image {
  width: 5rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border: 1px solid #263a4e;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.fact-card__headline {
  font-size: 1.25rem;
  color: #263a4e;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
}

.fact-card__headline:hover {
  color: #cea06c;
}
.fact-card__headline:hover .fact-card__image {
  border: 1px solid #cea06c;
}

.fact-card__text {
  font-size: 0.94rem;
  line-height: 1.5rem;
  color: #6c757d;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #f8f9fa;
  padding: 8.125rem 0rem;
}

.about__image {
  width: 38.875rem;
  height: 30.938rem;
  margin-left: 20%;
}

.about-info {
  position: relative;
  display: block;
  text-align: left;
  width: 50%;
  padding-left: 4%;
}

.about-info__label {
  color: #cea06c;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.about-info__headline {
  line-height: 1.1em;
  color: #263a4e;
  font-size: 2.625rem;
  margin: 0;
}

.about-info__text {
  font-size: 0.94rem;
  line-height: 1.5rem;
  color: #6c757d;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding-top: 8.125rem;
  padding-bottom: 6.25rem;
}

.projects__label {
  color: #cea06c;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.projects__headline {
  line-height: 1.1em;
  color: #263a4e;
  font-size: 2.625rem;
  margin: 0;
  padding: 0.75rem;
}

.projects-filters {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  width: 28%;
}

.projects-filters span {
  text-transform: uppercase;
  color: #263a4e;
  transition: 0.1s ease-in-out;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.projects-filters span[checked] {
  color: #cea06c;
}

.projects-filters span:hover {
  color: #cea06c;
}

.project-cards {
  position: relative;
  display: grid;
  grid-template-columns: 20rem 30rem;
  grid-template-rows: repeat(2, 29.7rem);
  gap: 1.875rem;
  margin-top: 2rem;
}

.project-cards__card {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  color: #263a4e;
  font-size: 2rem;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #0e1424;
  padding: 5rem 0rem;
}

.footer-cards {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 65%;
}

.footer-item {
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
}

.footer-item__label {
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  padding: 1rem 0rem;
}

.footer-item__text {
  letter-spacing: 0.5px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #87898f;
  transition: 0.2s ease-in-out;
  margin: 0.5rem 0rem;
  cursor: pointer;
}

.footer-item__text:hover {
  color: white;
}

.footer-item__form {
  letter-spacing: 0.5px;
  font-size: 0.875rem;
  font-weight: 300;
  background-color: #263a4e;
  color: #87898f;
  height: 2.5rem;
  border: none;
  padding-left: 20px;
  margin: 1rem 0rem;
}

.footer-item__btn {
  background-color: white;
  color: #263a4e;
}/*# sourceMappingURL=style.css.map */